.userPosts {
  border: 1px solid #eee;
  width: 95%;
  margin: auto;
  background-color: white;
  min-height: 100px;
  margin-top: 3%;
}

/* .savePostBtn {
  float: right;
  font-size: 13px;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 6px;
  border: 1px solid rgb(60, 154, 84);
  color: rgb(60, 154, 84);
  cursor: pointer;
  border-radius: 15px;
  margin-top: 1%;
} */

/* .savePostBtn:hover {
  background-color: rgb(60, 154, 84);
  color: white;
} */

/* .dropdown {
  position: relative;
  float: right;
  margin-top: 1%;
  z-index: 100;
} */

/* .dropdownContent {
  position: fixed;
  margin-top: 20px;
  display: none;
  background-color: #ffffff;
  z-index: 500;
  border: 1px solid #eee;
}

.dropdownContent a {
  color: #2e3134;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  z-index: 600;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
} */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* .reportPostBtn {
  float: right;
  font-size: 13px;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 12px;
  border: 1px solid rgb(60, 154, 84);
  color: rgb(60, 154, 84);
  cursor: pointer;
  border-radius: 15px;
} */
/* .reportPostBtn {
  float: right;
  background: none;
  border: none;
  margin-bottom: 1%;
  font-size: 13px;
  color: gray;
} */
.profileImage {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 10px;
}
.profileDetails {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.redFont {
  color: rgb(219, 29, 54);
}
/* .heading {
  margin-top: '15px';
  margin-bottom: '3px';
  text-align: 'left';
  padding-left: '10px';
} */
.greenFont {
  color: rgb(60, 154, 84);
}
.postReactionsDiv {
  margin-top: 0%;
}

.postReactionsCountDiv {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  background: #fff;
  margin-top: 10px;
}

.postReactionsCount {
  padding: 1%;
  color: gray;
  font-size: 13px;
}

.postReactionsBtns {
  background: none;
  border: none;
  margin-bottom: 1%;
  font-size: 13px;
  color: gray;
}
