.postReactionsCountDiv {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  background: #fff;
  margin-top: 10px;
}
.postReactionsCount {
  padding: 1%;
  color: gray;
  font-size: 13px;
}
