.container1{
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.leftDiv1{
    float: left;
    width:50%;
}

.rightDiv1{
    float: right;
    width: 50%; 
}

.container2{
    display: flex;
    flex-direction: row;
    height: 75vh;
    text-align: center;
}

.leftDiv2{
    float: left;
    width:55%;
    font-family: 'open sans';
}

.rightDiv2{
    float: right;
    width: 40%;
}


.LoginBtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 35%;
    display: table;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px ;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
}

.LoginBtn:hover {
    opacity: 0.8;
}

.Input {
    width: 51%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(60, 154, 84);
    box-sizing: border-box;
    border-radius: 5px;
}
.Input:focus {
    border-color: rgb(244, 166, 13);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(244, 166, 13, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px  rgb(244, 166, 13, .6);
}

.wavyunderline{
    color: rgb(219, 29, 54);
    text-decoration: 'underline';
    text-decoration-style: 'wavy';
}

.greenFont{
    color: rgb(60, 154, 84);
}

.greenFontTitle{
    font-size: 50px;
    color: rgb(60, 154, 84);
}

.yellowFont1{
    color: rgb(244, 162, 13);
    font-size: 50px;
    padding-right: 2px;
}

.yellowFont2{
    color: rgb(244, 157, 13);
}

.yellowFont3{
    color: rgb(244, 142, 13);
    font-size: 25px;
    margin-right: -8px;
    margin-left: -6px;
}

.yellowFontTitle{
    font-size: 50px;
    color: rgb(244, 157, 13);
    text-decoration:underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 102, 102);
    
}

.redFont{
    color: rgb(219, 29, 54);
}

.redFontTitle{
    font-size: 50px;
    color: rgb(219, 29, 54);
}

.container3{
    text-align: center;
    height: 15vh;
}

.quotes{
    font-size: 15px;
    color: gray;
    font-weight: lighter;
}

.dummyContainer{
    width: 20%;
}

.links{
    text-decoration: none;
    font-size: 12px;
    display: block;
    margin-left:140px;
    margin-top: -7px;
    margin-bottom: 15px;
    color: rgb(244, 157, 13);
}

.links:hover{
    color: rgb(255, 200, 21);
}

.text {
    //position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    //font-size: 1em;
    font-weight: 700;
    color: rgb(60, 154, 84);

    text-shadow: 
        0px 0px 10px lightgreen;

}