.container1{
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.leftDiv1{
    float: left;
    width:50%;
}

.rightDiv1{
    float: right;
    width: 50%; 
}

.container2{
    display: flex;
    flex-direction: row;
    height: 75vh;
    text-align: center;
}

.leftDiv2{
    float: left;
    width:55%;
    font-family: 'open sans';
}

.rightDiv2{
    float: right;
    width: 40%;
}


.LoginBtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 35%;
    display: table;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px ;
}

.LoginBtn:hover {
    opacity: 0.8;
}

.Input {
    width: 51%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(60, 154, 84);
    box-sizing: border-box;
    border-radius: 5px;
}
.Input:focus {
    border-color: rgb(244, 166, 13);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(244, 166, 13, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px  rgb(244, 166, 13, .6);
}

.greenFont{
    color: rgb(60, 154, 84);
}

.yellowFont1{
    color: rgb(244, 162, 13);
    font-size: 35px;
    padding-right: 2px;
}

.yellowFont2{
    color: rgb(244, 157, 13);
}

.redFont{
    color: rgb(219, 29, 54);
}

.container3{
    text-align: center;
    height: 15vh;
}

.quotes{
    font-size: 15px;
    color: gray;
    font-weight: lighter;
}

.dummyContainer{
    width: 20%;
}